@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rosehot";
  src: url("/fonts/Rosehot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-Rosehot {
  font-family: "Rosehot", sans-serif;
}
.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-Sen {
  font-family: "Sen", sans-serif;
}
.my-green {
  color: #52662b;
}

.customBtn {
  padding: 0.5rem; /* p-2 */
  background-color: #52662b;
  color: rgb(211, 211, 211);
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(74, 79, 90, 0.5);
  transition: all 0.2s ease;
  outline: none;
}

.customBtn:hover {
  background-color: #647a37;
  transform: translateY(-2px);
}

.customBtn:active {
  background-color: #2b3615;
}

.customBtn:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(72, 72, 48, 0.5); /* mesma cor base com opacidade */
}
